[submodule "chibios_workspace/tmk_test/tmk_core"]
	path = tmk_core
	url = https://github.com/pragun/tmk_core
[submodule "chibios_workspace/ChibiOS"]
	path = chibios_workspace/ChibiOS
	url = https://github.com/ChibiOS/ChibiOS
